<mat-card>
    <form [formGroup]="form" (ngSubmit)="auth.register(form.value)">
        <div class="form-group">
            <mat-form-field>
                <input matInput type="text" placeholder="Nazwa użytkownika" formControlName="userName" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput type="password" placeholder="Hasło" formControlName="password" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput type="password" placeholder="Potwierdź hasło" formControlName="confirmationPassword"
                    required>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
    </form>
</mat-card>