<p *ngIf="!boardGame"><b>Loading...</b></p>
<mat-card class="boardgame" *ngIf="boardGame">
    <img mat-card-image src="{{serverUrl}}/{{boardGame.imagePath}}">
    <mat-card-content>
        <h3>Nazwa: {{ boardGame.name }}</h3>
        <p>Kategoria: {{ boardGame?.category?.name }}</p>
        <p>Minimum graczy: {{ boardGame.minPlayers }}</p>
        <p>Maximum graczy: {{ boardGame.maxPlayers }}</p>
        <p>Od lat: {{ boardGame.fromAge }}</p>
        <p>Opis: {{ boardGame.description }}</p>
        <button mat-raised-button color="primary" (click)="editBoardGame(boardGame)">Edit</button>
    </mat-card-content>
</mat-card>