<div *ngIf="!formGroup && isAdmin === null">
  <mat-spinner></mat-spinner>
</div>

<p *ngIf="formGroup && isAdmin != null && !isAdmin"><b>Brak uprawnień</b></p>

<mat-card class="container" *ngIf="isAdmin && formGroup">
  <mat-card-content>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

      <mat-card-title>
        <span>Dodaj gre</span>
      </mat-card-title>
      
      <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input matInput placeholder="Nazwa" formControlName="name">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Opis</mat-label>
        <textarea  matInput placeholder="Opisz gre..." formControlName="description"></textarea>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Min graczy</mat-label>
        <input matInput placeholder="Min graczy" formControlName="minPlayers">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Max graczy</mat-label>
        <input matInput placeholder="Max graczy" formControlName="maxPlayers">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Min wiek gracza</mat-label>
        <input matInput placeholder="Min wiek gracza" formControlName="fromAge">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <mat-select 
          formControlName="categoryId">
          <mat-option 
          *ngFor="let category of boardGamesCategories" 
          value="{{ category.id }}">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="image-container">
          <img [src]="imageUrl" style="width: 250px;height: 200px; cursor: pointer;" (click)="onClickFileInputButton()">
          <input type="file" style="display: none" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
          <span></span>

          <mat-toolbar>
          <button mat-raised-button color="primary" class="file-select-button" type="button" (click)="onClickFileInputButton()">
            <mat-icon>attach_file</mat-icon>
            Dodaj zdjęcie
          </button>
      
          <p class="file-name" *ngIf="!fileToUpload; else fileName"></p>
          <ng-template #fileName>
            <p class="file-name">{{ fileToUpload?.name }}</p>
          </ng-template>
        </mat-toolbar>
      </div>

      <mat-toolbar>
        <button [disabled]="!fileToUpload || !formGroup.valid" mat-raised-button color="primary" type="submit">Zapisz</button>
        <button style="margin-left: 20px;" mat-raised-button type="button" color="primary" routerLink="/show/boardgames">Cancel</button>
    </mat-toolbar>
    </form>
  </mat-card-content>
</mat-card>