<div *ngIf="!pub">
    <mat-spinner></mat-spinner>
</div>
  
<mat-card *ngIf="pub">
    <mat-card-header>
        <img mat-card-image src="{{serverUrl}}/{{pub.imagePath}}">
        <div class="title" style="position: relative; margin-left: 30px;">
            <mat-card-title>
                <h2>{{ pub.name  }}</h2>
            </mat-card-title>
            
            <mat-card-subtitle>
                {{ pub.description }}
            </mat-card-subtitle>
            <app-star-rating style="position:absolute; bottom: 0px; float: right;" [amountOfRates]="pub.rates.length" [rating]="getRate(pub.rates)" [itemId]="pub.id" (click)="toggleCreatePubRate(pub); $event.stopPropagation()"></app-star-rating>
        </div>
    </mat-card-header>

    <mat-card-content style="margin-top: 25px;">
        <mat-tab-group>
            <mat-tab label="Gry">
                <div class="mat-elevation-z8" *ngIf="boardGames">
                    <mat-form-field style="margin-top: 20px;">
                      <mat-label>Szukaj</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Nazwa, kategoria">
                  </mat-form-field>
                    <table mat-table [dataSource]="boardGames" matSort>
        
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
                          <td mat-cell *matCellDef="let row" > {{row.name}} </td>
                      </ng-container>
        
                      <!-- Category Column -->
                      <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria </th>
                          <td mat-cell *matCellDef="let row"> {{row.category?.name}} </td>
                      </ng-container>
        
                        <!-- Actions Column -->
                        <ng-container matColumnDef="raiting">
                            <th mat-header-cell *matHeaderCellDef> Ocena </th>
                            <td mat-cell *matCellDef="let row">
                                <app-star-rating [amountOfRates]="row.rates.length" [rating]="getRate(row.rates)" [itemId]="row.id" (click)="toggleCreateBoardGameRate(row); $event.stopPropagation()"></app-star-rating>
                            </td>
                        </ng-container>
        
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row class="clickLink" (click)="onBoardGameClick(row)" *matRowDef="let row; columns: displayedColumns;" style="height: 80px !important"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                  </div>
            </mat-tab>
            <mat-tab label="Wydarzenia">
                <div class="mat-elevation-z8" *ngIf="eventModels">
                    <mat-form-field style="margin-top: 20px;">
                        <mat-label>Szukaj</mat-label>
                    <input matInput (keyup)="applyEventFilter($event)" placeholder="Nazwa, gra">
                    </mat-form-field>
                    <table mat-table [dataSource]="eventModels" matSort>
        
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
                            <td mat-cell *matCellDef="let row" > {{row.name}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="boardGameName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gra </th>
                            <td mat-cell *matCellDef="let row"> {{row.boardGame?.name}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="eventDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                            <td mat-cell *matCellDef="let row"> {{row.startDate | date :'short'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="participants">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ilość uczestników </th>
                            <td mat-cell *matCellDef="let row"> {{row.participants?.length}} </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedEventColumns"></tr>
                        <tr mat-row class="clickLink" (click)="onEventModelClick(row)" *matRowDef="let row; columns: displayedEventColumns;" style="height: 80px !important"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                    </div>
            </mat-tab>
            <mat-tab label="Adres">
                <section class="product-features">
                    <dl class="data-sheet">
                        <dt class="name">Ulica: </dt>       <dd class="value">{{ getFullStreet() }}</dd>
                        <dt class="name">Kod pocztowy: </dt>    <dd class="value">{{pub.address.postalCode}}</dd>
                        <dt class="name">Miasto: </dt>          <dd class="value">{{ pub.address.city }}</dd>
                    </dl>
                </section>
            </mat-tab>
            <mat-tab label="Opinie">
                <app-show-opinions-tab [rates]="pub.rates"></app-show-opinions-tab>
            </mat-tab>
        </mat-tab-group>

        <mat-toolbar>
            <button style="font-size: 20px;" mat-icon-button color="primary" (click)="thumbClicked()">
                <mat-icon *ngIf="pub.isLikedByUser">thumb_up</mat-icon>
                <mat-icon style="width: 34px; height: 34px; margin-left: 7px;" *ngIf="!pub.isLikedByUser" svgIcon="thumb_up_outline"></mat-icon>
                <div style="margin-top: -15px; margin-left: 20px;">{{ pub.amountOfLikes }}</div>
            </button>
            <span style="flex:1 1 auto;"></span>
            <button *ngIf="pub.isUserPub" mat-raised-button color="primary" (click)="editPub(pub)">Edytuj</button>
        </mat-toolbar>
    </mat-card-content>
</mat-card>