<div *ngIf="!pub">
    <mat-spinner></mat-spinner>
</div>
  
<mat-card class="pub" *ngIf="pub">
    <img mat-card-image src="{{serverUrl}}/{{pub.imagePath}}">
    <mat-card-content>
        <h3>Nazwa: {{ pub.name }}</h3>
        <p>Opis: {{ pub.description }}</p>
        <h3>Adres</h3>
        <p>Ulica: {{ getFullStreet() }}</p>
        <p>Kod pocztowy: {{ pub.address.postalCode }}</p>
        <p>Miasto: {{ pub.address.city }}</p>
        <mat-toolbar *ngIf="isAuthenticated">
            <button mat-icon-button color="primary" (click)="thumbClicked()">
                <mat-icon *ngIf="pub.isLikedByUser">thumb_up</mat-icon>
                <mat-icon *ngIf="!pub.isLikedByUser" svgIcon="thumb_up_outline"></mat-icon>
                {{ pub.amountOfLikes }}
            </button>
            <span style="flex:1 1 auto;"></span>
            <button mat-raised-button color="primary" (click)="editPub(pub)">Edytuj</button>
        </mat-toolbar>
    </mat-card-content>
</mat-card>